/* .glass:hover{
    
  transform:scale(1.1);
} */

.h{
    text-align: center;
}

#head{

     display:flex;
}


 .glass{

        width:350px;
         height:600px;
         margin-left:30px;
        backdrop-filter:blur(10px);
        -webkit-backdrop-filter:blur(10px);
        border-radius: 15px;
         margin-top:5%;
         background-color:rgba(255,255,255,0.1);
         border:2px solid rgba(255,255,255,0.2);
         box-shadow:0px 8px 30px rgba(0,0,0,0.5);
         overflow:auto;
         font-family: Arial, sans-serif;
         color:black;
         padding:10px;
  

    }

    .lol{

        width:350px;
         height:600px;
         margin-left:30px;
        backdrop-filter:blur(10px);
        -webkit-backdrop-filter:blur(10px);
        border-radius: 15px;
         margin-top:5%;
         background-color:rgba(255,255,255,0.1);
         border:2px solid rgba(255,255,255,0.2);
         box-shadow:0px 8px 30px rgba(0,0,0,0.5);
         overflow:auto;
         font-family: Arial, sans-serif;
         color:black;
         padding:10px;
         position:relative;
     
  

    }



    html{
     
         /* background-image:url('https://picsum.photos/1200/800'); */
         background-image:URL('PHOTO-2025-08-24-20-29-58.jpg') ;
         background-repeat:on-repeat;
         background-position:center center;
         background-size:cover;

    }

